{% extends "base_frontend.html" %}
{% load static %}
{% block content %}
<div class="faq-content">
    <div class="faq-top">
        <div class="container">
            <h2>FREQUENTLY ASKED QUESTTIONS</h2>
            <p>Ever considered getting free high-quality and making yourself a star?</p>
        </div>
    </div>
    <div class="faq-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                            aria-controls="v-pills-home" aria-selected="true">Your account</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                            aria-controls="v-pills-profile" aria-selected="false">Engagement</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                            aria-controls="v-pills-messages" aria-selected="false">Privacy</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="faq-acc">
                                <a href="#demo_11" class="btn btn-info" data-toggle="collapse">What sort of actions
                                    will you make on my account?</a>
                                <div id="demo_11" class="collapse show-acc">
                                    <p>Twengage will make actions such as like, follow and retweet, these are options
                                        you have to opt for.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_12" class="btn btn-info" data-toggle="collapse">Will my account get
                                    banned by Twitter?</a>
                                <div id="demo_12" class="collapse show-acc">
                                    <p>Your account is completely safe with us as is the accounts of all of our exiting
                                        happy customers.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_13" class="btn btn-info" data-toggle="collapse">How many followers could
                                    I expect with your service?</a>
                                <div id="demo_13" class="collapse show-acc">
                                    <p>You could expect anywhere from 500-1500 new followers per week, many variables
                                        have to be considered.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_14" class="btn btn-info" data-toggle="collapse">Will my followers be
                                    targeted followers?</a>
                                <div id="demo_14" class="collapse show-acc">
                                    <p>Yes your followers will be targeted because you will choose where your followers
                                        will come from i.e followers of certain accounts.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_15" class="btn btn-info" data-toggle="collapse">Are the followers that I
                                    receive fake?</a>
                                <div id="demo_15" class="collapse show-acc">
                                    <p>We never send fake followers nor does our system generate fake followers, our
                                        system is based on organic engagement therefor all your followers will be
                                        organic.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_16" class="btn btn-info" data-toggle="collapse">What is the best way to
                                    target?</a>
                                <div id="demo_16" class="collapse show-acc">
                                    <p>Best methods of targeting are to engage with users of certain hashtags or the
                                        followers of certain accounts. And of course posting interesting tweets.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_17" class="btn btn-info" data-toggle="collapse">Could I keep tweeting
                                    regularly?</a>
                                <div id="demo_17" class="collapse show-acc">
                                    <p>Yes you could keep using your account as you would.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="faq-acc">
                                <a href="#demo_21" class="btn btn-info" data-toggle="collapse">Could I change my
                                    engagement settings?</a>
                                <div id="demo_21" class="collapse show-acc">
                                    <p>Yes, you may do so by requesting a change with our live agents or
                                        support@twengage.com.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_22" class="btn btn-info" data-toggle="collapse">How long does my account
                                    engage for daily?</a>
                                <div id="demo_22" class="collapse show-acc">
                                    <p>Your account could be active for up to 6 hours a day.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_23" class="btn btn-info" data-toggle="collapse">How many actions does my
                                    account make daily?</a>
                                <div id="demo_23" class="collapse show-acc">
                                    <p>Your account will make approximately 1000+ actions a day</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_24" class="btn btn-info" data-toggle="collapse">Do you provide growth
                                    reports?</a>
                                <div id="demo_24" class="collapse show-acc">
                                    <p>Yes, please request a report via support or live agent.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_25" class="btn btn-info" data-toggle="collapse">Could I black list
                                    accounts? </a>
                                <div id="demo_25" class="collapse show-acc">
                                    <p>Yes you may provide us with a list of accounts that you do not want to engage
                                        with.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_26" class="btn btn-info" data-toggle="collapse">Could you increase my
                                    engagement?</a>
                                <div id="demo_26" class="collapse show-acc">
                                    <p>Please contact support for our enhanced engagement package.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_27" class="btn btn-info" data-toggle="collapse">Could you help me
                                    research good hashtags and similar accounts?</a>
                                <div id="demo_27" class="collapse show-acc">
                                    <p>Yes, please speak with our live agents regarding your options of targeting.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="faq-acc">
                                <a href="#demo_31" class="btn btn-info" data-toggle="collapse">Is my account safe with
                                    you Twengage.com?</a>
                                <div id="demo_31" class="collapse show-acc">
                                    <p>Yes your account is completely safe with us, we receive your information in an
                                        encrypted form and we do not have access to it.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_32" class="btn btn-info" data-toggle="collapse">What is your privacy
                                    policy?</a>
                                <div id="demo_32" class="collapse show-acc">
                                    <p>Please read through our privacy by clicking \'93privacy\'94 on the bottom of the
                                        page.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_33" class="btn btn-info" data-toggle="collapse">Will you sell my
                                    information to a third party?</a>
                                <div id="demo_33" class="collapse show-acc">
                                    <p>We do not share sell, share or in any way profit from any information given to
                                        us. </p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-acc">
                                <a href="#demo_34" class="btn btn-info" data-toggle="collapse">Will anyone know that I
                                    am using your service?</a>
                                <div id="demo_34" class="collapse show-acc">
                                    <p>This service makes actions on your behalf as you would.</p>
                                    <div class="acc-atag">
                                        <a href="/contact/">Still got questions?</a>
                                        <a href="/contact/">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}