{% extends "base_frontend.html" %} 
{% load static %}
    {% block content %}
		<div class="main-container">
			<header class="page-header" style="background: linear-gradient(to right,#6ac5ff,#2883ea);">
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="{% static 'img/hero.jpg' %}">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-left">
							<h1 class="text-white space-bottom-medium">Grow Your Twitter Account With Targeted Engagement Starting @ $9 Per week</h1>
							<a href="/packages/" class="btn btn-primary btn-white">Get Started</a>
						</div>
					</div>
				</div>
			</header>
			
			<section class="clients-2">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/c1.png' %}">
						</div>
						
						<div class="col-md-3 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/c2.png' %}">
						</div>
						
						<!-- <div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/c3.png' %}">
						</div> -->
						
						<div class="col-md-3 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/c4.png' %}">
						</div>
						
						<div class="col-md-3 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/c5.png' %}">
						</div>
						
						<!-- <div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/client6.png' %}">
						</div> -->
					</div>
				</div>
			</section>
			
			<section class="feature-selector">
				<div class="container">
                    <h1 class="text-center">How It Works</h1>
					<div class="row">
						<ul class="selector-tabs clearfix">
							<li class="clearfix text-primary col-md-4 col-sm-6 active">
									<i class="icon icon-target"></i>
									<span>CHOOSE A PACKAGE</span>
							</li>
						
							<li class="clearfix text-primary col-md-4 col-sm-6">
									<i class="icon icon-attachment"></i>
									<span>Provide Your Twitter Info</span>
							</li>
						
							<li class="clearfix text-primary col-md-4 col-sm-6">
									<i class="icon icon-presentation"></i>
									<span>Enjoy Your Twitter Growth</span>
							</li>
						
						</ul>
					</div>
				</div>
				
				<div class="container">
					<ul class="selector-content">
						<li class="clearfix active">
							<div class="row">
								<div class="col-sm-12 text-center">
									<!-- <h1>Choose Package</h1> -->
								</div>
							</div>
							
							<div class="row">
								
							
								<div class="col-sm-12">
									<p class="lead">
										Choose the the package that suits you best. With Twengage we guarantee 600-700 new real followers every week with our friendly engagement methods. 
									</p>	
								</div>
							</div>
						</li>
						
						<li class="clearfix">
							<div class="row">
								<div class="col-sm-12 text-center">
									<!-- <h1>Provide Page Link</h1> -->
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<p class="lead"> </p>	
								</div>
							
								<div class="col-sm-12">
									<p class="lead">
										At Twengage we do ask for access to your account in order for us to get you real followers by engaging on your behalf, however we receive your info in an encrypted manner and we cannot use it elsewhere, we guarantee that your information is 100% safe with us. 
									</p>	
								</div>
							</div>
						</li>
						
						<li class="clearfix">
							<div class="row">
								<div class="col-sm-12 text-center">
									<!-- <h1>ENJOY YOUR LIKES</h1> -->
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12">
									<p class="lead">
										After you have provided us information on what to target, you could sit back and let us start growing your twitter, you will receive weekly reports from us on your growth stats and customer support is available to you 24/7 to answer any of your questions. 
									</p>	
								</div>
							
								
							</div>
						</li>					
		
					</ul>
				</div>
			</section>
			
			<section class="duplicatable-content">
			
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1>Our Benefits</h1>
						</div>
					</div>
		
					<div class="row">
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-genius"></i>
								</div>
								<div class="pull-right">
									<h5>100% Real Followers No Fake Stuff</h5>
									<p>
										We Get You Followers Through Our Engagement Algorithm which is 100% safe for your account, secure and guaranteed to provide results.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-lock"></i>
								</div>
								<div class="pull-right">
									<h5>Targeted followers</h5>
									<p>
										We provide 100% real followers through natural engagement techniques so you are guaranteed real engagement with your content and real growth. 
									</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-lock"></i>
								</div>
								<div class="pull-right">
									<h5>Secure</h5>
									<p>
										We receive and store your information in an encrypted format which means we do not have access to your information, the format of your information is used strictly to help us with the growth of your account and we guarantee that your information will not be used for any other purpose. 
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-lifesaver"></i>
								</div>
								<div class="pull-right">
									<h5>LIFETIME SUPPORT</h5>
									<p>
										We will always be there for you, if you have any concerns regarding your growth, your targeting or any other matter we will be here to assist you, 24 hours a day, 7 days a week. You can contact us using our email: <a href="mailto:support@twengage.com">support@twengage.com</a> or use the chat app on the website.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-newspaper"></i>
								</div>
								<div class="pull-right">
									<h5>100% Satisfaction Rate</h5>
									<p>
										We guarantee that you will be satisfied with our service, our algorithm is designed to perform in the best way possible according to twitter terms, your account will never be in jeopardy. 
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-happy"></i>
								</div>
								<div class="pull-right">
									<h5>Best In The Business</h5>
									<p>
										In the past 6+ years we have gained an insurmountable amount of knowledge around social media growth and we have bundled it up for you to benefit from it. We guarantee that our services will help your reach your growth target. 
									</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			
			</section>
			
			<section class="bg-primary">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="testimonials-slider text-center">
								<ul class="slides">
									<li>
										<img class="client-photo" src="{% static 'img/greg.jpg' %}" alt="Client Photo">
										<p class="text-white lead">Twengage Has helped me grow my twitter account greatly with real followers, their system is amazing and gets you real followers all day long.</p>
										<span class="author text-white">GREG J.</span>
									</li>
									
									<li>
										<img class="client-photo" src="{% static 'img/helen.jpg' %}" alt="Client Photo">
										<p class="text-white lead">I have been using twengage for 3 months now and I have gained a total of 7000 new followers, they just keep coming in, thank you guys! </p>
										<span class="author text-white">HELEN A.</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="clients-2">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/client1.png' %}">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/client2.png' %}">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/client3.png' %}">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/client4.png' %}">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/client5.png' %}">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="{% static 'img/client6.png' %}">
						</div>
					</div>
				</div>
			</section>
			
			<section class="action-banner overlay">
			
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1 class="text-white">Get followed by millions</h1>
							<h2 class="text-white">We believe in the power of Natural Growth</h2>
							
							<a href="/packages/" class="btn btn-primary btn-white btn-filled">Get started</a>
						</div>
					</div>
				</div>
				
			</section>
		</div>
{% endblock %}