{% extends "base_frontend.html" %}
{% load static %}
{% block content %}
	<div id="home-content">
		<section id="banner">
			<div class="banner-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="banner-left">
								<h1>AUTOMATED TWITTER ENGAGEMENT</h1>
								<p>Using artificial intelligence to target and engage with accounts relevant to your industry and niche. Users
									have seen 1000 + targeted followers weekly using Twengage. Let us get you started today, it’s easy.</p>
								<a class="btn" href="/packages/">GET STARTED</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="banner-right">
								<img src="{% static 'images/banner-img.png' %}" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="message">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p>"Twengage generates results, we went from a few thousand followers to almost 700k within the first year."</p>
						<div class="author">
							<img src="{% static 'images/user.png' %}" alt="">
							<p>justin O'connor, Lenovo</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="how-work">
			<div class="container">
				<div class="work-title">
					<img src="{% static 'images/Vector-Smart-Object.png' %}" alt="#">
					<h2>WHY CHOOSE TWENGAGE?</h2>
					<h6>Achieve maximum Twitter growth through automatic engagement</h6>
				</div>

				<div class="row">
					<div class="col-md-4">
						<img src="{% static 'images/tab1.png' %}" alt="#">
						<h3>TRUSTED BY 1000’s</h3>
						<p>Thousands of people use and love Twengage. Most of our clients have been with us for years and have gained tens of thousands of new followers through our service.</p>
					</div>
					<div class="col-md-4">
						<img src="{% static 'images/tab2.png' %}" alt="#">
						<h3>GUARANTEED RESULTS</h3>
						<p>We guarantee that you will gain new followers through our service, some accounts more than others due to the type of targeting that they choose. You could expect at least 500 new followers per week.</p>
					</div>
					<div class="col-md-4">
						<img src="{% static 'images/tab3.png' %}" alt="#">
						<h3>SAFE & SECURE</h3>
						<p>When you sign up with us we receive your information in an encrypted format. We do not use your information in any other way or sell your information to a third party. You could rest assured that your information is safe with us. </p>
					</div>
				</div>
			</div>
		</section>
		<section id="testimonial">
			<div class="container">
				<div class="test-title">
					<h2>5 OUT 5 IS OUR RATING</h2>
					<h6>Our service is proven to provide results no matter what niche or service you’re in.</h6>
				</div>
			</div>
			<div class="rio-promos center slider">
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user.png' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p> Twengage generates results, we went from a few hundred followers to almost 5000 within the first month.</p>
						<div class="client-info">
							<span>justin O'connor</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user2.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p> I have been with this service for a few months and the results have been nothing to complain about... </p>
						<div class="client-info">
							<span>Maya Lin</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user3.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p>Twengage rocks… !!</p>
						<div class="client-info">
							<span>Rob Turner</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user4.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p>I’m a realtor in the LA area, Twengage.com has helped me grow my following and I have gotten leads through
							them.</p>
						<div class="client-info">
							<span>Thomas Mire</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user5.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p>I am the social media manager here at A startup in the Seattle area and twengage has helped us with the growth
							of our audience, make sure you are active with your tweets as well :)!</p>
						<div class="client-info">
							<span>Celina Kim</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user6.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p> I am the head of marketing at a fashion agency and I recommend this service to who ever is looking for Twitter
							growth… </p>
						<div class="client-info">
							<span>Xander L.</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user7.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p>We own a luxury car rental service in the LA area and Twengage.com has helped us reach a much broader audience
							via Twitter… Thank you.</p>
						<div class="client-info">
							<span>Rawad O.</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="target">
			<div class="container">
				<div class="target-title">
					<h2>NATURAL TWITTER GROWTH</h2>
					<h6>Niches that benefit the most from our service: </h6>
				</div>
				<div class="tg-list">
					<ul class="tg-ul">
						<li class="active">
							<div class="tg-content">
								<figure><i class="icon-one"></i></figure>
								<h4>MARKETING</h4>
							</div>
							<div class="tg-output">
								<img src="{% static 'images/mobile.png' %}" alt="#">
							</div>
						</li>
						<li>
							<div class="tg-content">
								<figure><i class="icon-two"></i></figure>
								<h4>INFLUENCER</h4>
							</div>
							<div class="tg-output">
								<img src="{% static 'images/mobile2.png' %}" alt="#">
							</div>
						</li>
						<li>
							<div class="tg-content">
								<figure><i class="icon-three"></i></figure>
								<h4>INFLUENCER</h4>
							</div>
							<div class="tg-output">
								<img src="{% static 'images/mobile3.png' %}" alt="#">
							</div>
						</li>
						<li>
							<div class="tg-content">
								<figure><i class="icon-four"></i></figure>
								<h4>POLITICIANS</h4>
							</div>
							<div class="tg-output">
								<img src="{% static 'images/mobile4.png' %}" alt="#">
							</div>
						</li>
						<li>
							<div class="tg-content">
								<figure><i class="icon-five"></i></figure>
								<h4>SALES</h4>
							</div>
							<div class="tg-output">
								<img src="{% static 'images/mobile5.png' %}" alt="#">
							</div>
						</li>
						<li>
							<div class="tg-content">
								<figure><i class="icon-six"></i></figure>
								<h4>REAL ESTATE</h4>
							</div>
							<div class="tg-output">
								<img src="{% static 'images/mobile.png' %}" alt="#">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="membership">
			<div class="container">
				<div class="ms-title">
					<h2>MEMBERSHIP OPTIONS</h2>
					<h6>Thousands of happy users are benefiting from Twengage Everyday!</h6>
				</div>
				<div class="ms-flex">
					<div class="ms-col1">
						<h4>Weekly</h4>
						<p>About the price of 2 lattes!</p>
						<div class="ms-payment">
							<span class="ms-price"><span class="ms-currency">$</span>9<span class="ms-extra">99</span><span class="ms-time">/w</span></span>
						</div>
						<ul class="ms-list">
							<li>Premium Organic Growth</li>
							<li>Target Your Chosen Audience</li>
							<li><span>Engagement</span> Daily</li>
						</ul>
						<a class="btn" href="/order?package=1">GET STARTED</a>
					</div>
					<div class="ms-col2">
						<h4>MONTHLY</h4>
						<p>Cheaper than buying a round</p>
						<div class="ms-payment">
							<span class="ms-price"><span class="ms-currency">$</span>26<span class="ms-extra">99</span><span class="ms-time">/m</span></span>
						</div>
						<ul class="ms-list">
							<li>Premium Organic Growth</li>
							<li>Target Your Chosen Audience</li>
							<li><span>Engagement</span> Daily</li>
						</ul>
						<a class="btn" href="/order?package=2">GET STARTED</a>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}