{% extends "base_frontend.html" %} 
{% load static %}
    {% block content %}
        <style>
            .cents {
                font-size: 40%;
                vertical-align: top;
            }
            .btn-primary:active {
                color: #fff;
                background-color: #36ccb3;
                border-color: #36ccb3;
            }
        </style>
        <div class="main-container">
            <section class="pricing-1 bg-secondary-1">
                <div class="fluid-container" style="padding: 0 1em;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <!-- <h1 class="text-white">Super simple pricing<br>that scales with your usage</h1> -->
                            <h1 class="text-white">Super simple pricing<br>that scales with your usage</h1>
                        </div>
                    </div>
                    


                    <div class="row clearfix pricing-tables">
                        <div class="col-md-3"></div>
                        <div class="col-md-3 col-sm-6 no-pad">
                            <div class="pricing-table">
                                <div class="price">
                                    <span class="sub">$</span>
                                    <span class="amount">9<small class="cents">97</small></span> 
                                    <span class="sub">/wk</span>
                                </div>
                                <ul class="features">
                                    <li>7 Days a Week Management</li>
                                    <li>Premium Organic Growth*</li>
                                    <li>Target Your Chosen Audience</li>
                                    <li>10 Week Minimum Term</li>
                                </ul>
                                <a data-package-id="#10WK" data-toggle="modal" data-target="#order-info" href="#" class="btn btn-primary btn-white" onclick="loadOrder(this)">GET STARTED</a>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 no-pad">
                            <div class="pricing-table emphasis">
                                <div class="price">
                                    <span class="sub">$</span>
                                    <span class="amount">14<small class="cents">97</small></span>
                                    <span class="sub">/wk</span>
                                </div>
                                <ul class="features">
                                    <li>7 Days a Week Management</li>
                                    <li>Premium Organic Growth*</li>
                                    <li>Target Your Chosen Audience</li>
                                    <li>Cancel Anytime</li>
                                </ul>
                                <a data-package-id="#1WK" data-toggle="modal" data-target="#order-info" href="#" class="btn btn-primary btn-white" onclick="loadOrder(this)">GET STARTED</a>
                            </div>
                        </div>
                        
                        <div class="col-md-3"></div>
                    </div>
                    
                </div>      
                
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display:none;" id="10WK">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="custom" value="{{custom}}">
                    <input type="hidden" name="hosted_button_id" value="TQU5MZ2XGV38L">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display:none;" id="1WK">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="custom" value="{{custom}}">
                    <input type="hidden" name="hosted_button_id" value="NJ7XMQDJTKMJN">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                    
                

            </section>    
        </div>
        {% include "order.html" %}
    {% endblock %}