{% extends 'base_frontend.html' %}
{% block content %}
{% load static%}

    <style type="text/css">
        .error-page .jumbo {
            font-size: 10vw;
            line-height: 10vw;
        }
    </style>

    <div class="main-container">
        <section class="no-pad error-page bg-primary fullscreen-element">
            <div class="container align-vertical">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <!-- <i class="icon icon-happy"></i> -->
                        <h1 class="jumbo">Thank You!!</h1>
                        <h1><b>Order Updated Successfully</b><br><br>Please, check your email <b>{{signupEmail}}</b> for the order receipt.</h1>
                        <a href="/" class="btn btn-primary btn-white">Home</a>
                        <a class="btn btn-primary btn-white btn-text-only" href="mailto:support@twengage.com">Contact us</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}