{% extends "base_frontend.html" %}
{% load static %}
{% block content %}
	<div id="home-content">
		<section id="banner">
			<div class="banner-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="banner-left">
								<h1>HOW DOES TWENGAGE WORK?</h1>
								<p>Using artificial intelligence to target and engage with accounts relevant to your industry and niche. Users
									have seen 1000 + targeted followers weekly using Twengage. Let us get you started today, it’s easy.</p>
								<a class="btn" href="/packages/">GET STARTED</a>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="help-right">
								<img src="{% static 'images/help_img.png' %}"
                                     class="help-image-custom"
                                     alt="Image Position">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


        <section id="help-message">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 help-col-pink">
                            <div class="help-testimonial-div">
						        <span>
                                    <img src="/static/images/4.png" alt="#">
                                </span>
                                <div class="client-info">
                                    <h3>GETTING STARTED</h3>
                                </div>
						        <p>Simply choose your package and complete the sign up. After signing up, please enter your targeting information, you will be prompted through an easy process.
                                </p>
					        </div>
                        </div>

                        <div class="col-md-4 help-col-green">
                            <div class="help-testimonial-div">
						        <span>
                                    <img src="/static/images/3.png" alt="#">
                                </span>
                                <div class="client-info">
                                    <h3>CHOOSE YOUR TARGETS</h3>
                                </div>
						        <p>Choose your hashtags, and similar account. You will have the option of targeting hashtags, similar accounts and keywords.
                                </p>
                                <img class="pink-help-icon" src="/static/images/5.png" alt="#">
					        </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="help-testimonial-div">
						        <span>
                                    <img src="/static/images/2.png" alt="#">
                                </span>
                                <div class="client-info">
                                    <h3>MONITOR YOUR GROWTH</h3>
                                </div>
						        <p>After completing the sign up process, sit back and enjoy your growth. If you would like any changes done to your targeting don’t hesitate to contact our live agents!
                                </p>
                                <img class="green-help-icon" src="/static/images/6.png" alt="#">
					        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </section>


		<section id="help-work">
			<div class="container">
				<div class="work-title">

					<h2>ADVANCED TARGETING METHODS</h2>
					<h6>Get followers to your Twitter and clicks on your website through our service</h6>
				</div>

				<div class="row">
					<div class="col-md-3" style="text-align: center">
						<span><img src="{% static 'images/8.png' %}" alt="#"></span>
						<h3>HASHTAGS</h3>
						<p>Choose hashtags that are associated with your brand or niche, a quick google search will help you choose the best hashtags in your industry.</p>
					</div>
					<div class="col-md-3" style="text-align: center">
						<span><img src="{% static 'images/9.png' %}" alt="#"></span>
						<h3>USERNAMES</h3>
						<p>Username targeting is simple and effective, we will engage with the followers of any username for exact targeting.</p>
					</div>
					<div class="col-md-3" style="text-align: center">
						<span><img src="{% static 'images/7.png' %}" alt="#"></span>
						<h3>LOCATIONS</h3>
						<p>Target cities, counties, states and countries by entering usernames such as “@lacity”.</p>
					</div>
					<div class="col-md-3" style="text-align: center">
						<span><img src="{% static 'images/10.png' %}" alt="#"></span>
						<h3>CONTENT</h3>
						<p>We could help you create explainer videos, posts or blogs, please contact our live agents if you’re interested.</p>
					</div>
				</div>
			</div>
		</section>


        <section id="grow-account">
            <div class="container grow-section">
                <div class="background"></div>
                <h2>STARAT GROWING YOUR ACCOUNT NOW</h2>
                <div class="banner-left">
					<a class="btn" href="/packages/">GET STARTED</a>
                </div>
            </div>
        </section>

        <section id="faq-section">
            <div class="container">
                <h2>STARAT GROWING YOUR ACCOUNT NOW</h2>
                <h3>Get followers to your Twitter and clicks on your website through our service</h3>
                <div class="faq-list">
                    <div class="faq-help-acc">
                        <a href="#demo_11" class="btn btn-info" data-toggle="collapse">What sort of actions
                            will you make on my account?</a>
                        <div id="demo_11" class="collapse show-acc">
                            <p>Twengage will make actions such as like, follow and retweet, these are options you have to opt for.</p>
                        </div>
                    </div>
                    <div class="faq-help-acc">
                        <a href="#demo_12" class="btn btn-info" data-toggle="collapse">How many followers could I expect with to gain with Twengage?</a>
                        <div id="demo_12" class="collapse show-acc">
                            <p>You could expect anywhere from 500-1500 new followers per week, many variables have to be considered.</p>
                        </div>
                    </div>
                    <div class="faq-help-acc">
                        <a href="#demo_13" class="btn btn-info" data-toggle="collapse">Are the followers that I'm receiving fake?


</a>
                        <div id="demo_13" class="collapse show-acc">
                            <p>You could expect anywhere from 500-1500 new followers per week, many variables have to be considered.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



		<section id="testimonial">
			<div class="container">
				<div class="test-title">
					<h2>5 OUT 5 IS OUR RATING</h2>
					<h6>Our service is proven to provide results no matter what niche or service you’re in.</h6>
				</div>
			</div>
			<div class="rio-promos center slider">
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user.png' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p> Twengage generates results, we went from a few hundred followers to almost 5000 within the first month.</p>
						<div class="client-info">
							<span>justin O'connor</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user2.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p> I have been with this service for a few months and the results have been nothing to complain about... </p>
						<div class="client-info">
							<span>Maya Lin</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user3.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p>Twengage rocks… !!</p>
						<div class="client-info">
							<span>Rob Turner</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user4.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p>I’m a realtor in the LA area, Twengage.com has helped me grow my following and I have gotten leads through
							them.</p>
						<div class="client-info">
							<span>Thomas Mire</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user5.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p>I am the social media manager here at A startup in the Seattle area and twengage has helped us with the growth
							of our audience, make sure you are active with your tweets as well :)!</p>
						<div class="client-info">
							<span>Celina Kim</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user6.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p> I am the head of marketing at a fashion agency and I recommend this service to who ever is looking for Twitter
							growth… </p>
						<div class="client-info">
							<span>Xander L.</span>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial-div">
						<span><img src="{% static 'images/user7.jpg' %}" alt="#"></span>
						<div class="stars text-center">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<p>We own a luxury car rental service in the LA area and Twengage.com has helped us reach a much broader audience
							via Twitter… Thank you.</p>
						<div class="client-info">
							<span>Rawad O.</span>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
